img {
    width: 100%;
}
body {
    background-color: black;
}
p {
    color: aliceblue;
    font-size: 1em;
}
ul li a {
    cursor: pointer;
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
    
}

footer {
    border-top: 2px solid aqua;
    text-align: center;
}